*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: none;
}
.main__container{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    margin: 0 auto;
    background-color: rgb(127, 103, 170);
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
    padding: 2rem 0;
}
.container{
    width: 20rem;
    margin: 1rem auto;
}
ul{
    list-style: none;
}

input{
    outline: none;
    border: none;
    border-radius: .5rem;
}

.items{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(208, 220, 224);
    margin: 1rem 0;
    height: 2rem;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    border-radius: .5rem;
}

.add__input{
    display: flex;
    width: 100%;
    justify-content: space-between;
    width: 20rem;
}
.input__field{
    height: 2rem;
    flex: 1;
    padding: 5px;
}
.input__btn{
    margin-left: 5px;
    text-transform: capitalize;
    border: none;
    background-color: rgb(152, 227, 31);
    color: #fff;
    font-size: 1rem;
    padding: 5px;
}
.input__search{
    width: 20rem;
    height: 2rem;
    margin: 1rem;
    text-align: center;
    outline: none;
}
